.flowers{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/Fixing-lag/src/images/flowersSmol.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.colorPainting{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/Fixing-lag/src/images/colorPainting.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.basketball{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/Fixing-lag/src/images/basketballSmol.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.phonePic{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/Fixing-lag/src/images/phonePicSmol.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.greenFlower{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/Fixing-lag/src/images/greenFlowerSmol.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.painting{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/Fixing-lag/src/images/paintingSmol.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.houseAndSky{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/Fixing-lag/src/images/houseAndSkySmol.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.bagOnHead{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/Fixing-lag/src/images/bagOnHeadSmol.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}