.flowers{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/responsiveAndTileAdder/src/images/flowers.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.colorPainting{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/responsiveAndTileAdder/src/images/colorPainting.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.basketball{
    background: url(https://images.pexels.com/photos/1702624/pexels-photo-1702624.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.phonePic{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/responsiveAndTileAdder/src/images/phonePic.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.greenFlower{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/responsiveAndTileAdder/src/images/greenFlower.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.painting{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/responsiveAndTileAdder/src/images/painting.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.houseAndSky{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/responsiveAndTileAdder/src/images/houseAndSky.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.bagOnHead{
    background: url(https://raw.githubusercontent.com/JRyGithub/PortfolioPageMona/responsiveAndTileAdder/src/images/bagOnHead.jpg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}